

header {
    width:100%;
    height: 50px;
    background-color: coral;
}

header ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 12px 5px 0 0;
}

#multiple-choice li {
    background-color: blueviolet;
    padding:5px;
    margin:10px;
    color: white;

}

#multiple-choice li:hover {
    background-color: aqua;
    cursor: pointer;
}

h1 {
    font-size: 50px;
    text-align: center;
   
}

h2 {
    font-size: 25px;
  
}

.title {
    text-align: center;
}

#multiple-choice {
    list-style-type: none;
}

#quiz-button {
    margin: 0 auto;
}

.hide {
    display: none;
}

#highscore-list {
    display: flex;
    justify-content: center;
    padding:3px;
}

.row {
    display: flex;

}

#play-again-button {
    text-decoration: none;
    color: black;
}

/* .row p{
    border: solid red 1px;
    padding: 10px;
    margin: 10px;

} */
